<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <title>Cipher</title>
</head>

<body>
    <div id="right">
        <section class="vertical-line slide-in-bottom"></section>
        <div>
            <p id="right-cypher-title">Cypher Text</p>
            <p id="codedText"></p>
        </div>

    </div>
    <div id="left">
        <div class="top">
            <!-- <h1 id="title1" class="slide-in-right"> Simple Basic Cipher</h1> -->
            <h1 id="title2" class="slide-in-left"> Simple Basic Cipher</h1>
            <hr class="slide-in-left" />

        </div>
        <div class="bottom">
            <!-- <section class="bottom-line">|</section> -->
            <div>
                <hr class="bottom-line" />
            </div>
            <div class="input-container">
                <p id="instructions"><strong>W</strong>rite a sentence:</p>
                <input type="text" id="clearText" autofocus>
            </div>
            <div class="buttons">
                <input type="submit" value="Cipher Up" id="submit">
                <button id="reset" onclick="reset()">Reset</button>
            </div>
        </div>
    </div>



    <script src="/js/script.js"></script>
</body onload="focusInput()">

</html>