@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');



#title1{
    font-size: 7em;
    color: white;
    margin: 0px;
    /* overflow-anchor: none; */
}

#title2{
    font-size: 4em;
    color: white;
    margin: 20px;
    padding-top: 2em;
    /* overflow-anchor: none; */
    /* position: relative; */
}

.top{
    height: 68vh;
    /* width: 70%; */
    /* border: 2px solid black; */
    /* display: flex; */
    
}

#left{
    height: 68vh;
    width: 70%;
}

hr{
    background-color: white;
    border: 1px solid white;
}

.within{
    /* grid-area: main; */
    border: 1px solid white;
    background-color: white;
    float:right;
    /* height: 100%; */

}

.bottom{
    margin: 0px 15px 20px 40px;
    /* border: 1px solid gold; */
    padding-bottom: 10px;
    padding-right: 15px;
    border-bottom: 1.5px solid white;
    /* width: 55%; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-content: center;
    /* outline: 4px solid red; */
}

.bottom-line{
    /* display: flex; */
    /* flex-direction:column; */
    /* order: -1; */
    /* border-right: 2px solid white; */
    /* width: 10%; */
    height: 570%;
    float: left;
    margin-left: 25px;
    /* min-height: 15s0%; */
    /* max-height: 100vh; */
    /* margin: 0; */
}

.input-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
    /* border-left: 2px solid white; */
}
#instructions{
    color: #FB9DB1;
    font-size: 1.5em;
    /* overflow: hidden; */
    margin: 0px 0px 5px 15px;
    /* border-left: 1px solid white; */
    padding-left: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-grow: .8; */
    /* justify-content: flex-end; */
    align-content: flex-start;
    /* align-self:center; */
    /* margin: 0px; */
}

#clearText{
    margin: 0px 0px 5px 0px;
    background-color: transparent;
    border-bottom: 3px solid white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    cursor: text;
    height: 2em;
    width: 20em;
    outline: none !important;
    font-size: 1.2em;
    font-family: 'Space Mono', monospace;
    caret-color: white;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#submit{
    display:flex;
    flex-wrap: wrap;
    align-self: center;
}

#reset{
    display: flex;
    flex-wrap: wrap;
}

#right{
    float: right;
    /* right: 0%; */
    width: 25%;
    /* z-index: 11; */
}






/* .slide-in-left {
	animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 3.5s
} */

/* 
.slide-in-right {
	-webkit-animation: slide-in-right 8s linear both;
	        animation: slide-in-right 8s linear both;
} */



.slide-in-right {
	animation: slide-in-right 5.2s linear both;
    
}

.slide-in-left{
    animation: slide-in-left 2s linear both;
    animation-delay: 1s;
    
}

.slide-in-bottom {
	animation: slide-in-bottom 1s linear both;
    /* a nimation-delay: 3s; */
}

.typing-effect{
    animation: typing 1s steps(1) infinite;
}






/* ----------------------------------------------
 * Generated by Animista on 2021-7-12 20:1:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
* ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@keyframes slide-in-right {
  0% {
    transform: translateX(900px);
    max-height: 100%;
    opacity: 3%;
  }
  15%{
      opacity: 30%
  }
  25% {
      opacity: 60%;
  }
  40%{
      opacity: 100%
  }
  100% {
    transform: translateX(-1000px);
    max-height: 0;
    /* opacity: 100%; */
  }
}
 /* ----------------------------------------
 animation slide-in-bottom
 ---------------------------------------- */
 
@keyframes slide-in-bottom {
  0% {
    transform: translateY(25px);
    height: 0%;
    /* opacity: 0; */
  }
  2% {
      height: 50%;
  }
  100% {
    transform: translateY(-300px);
    height: 150%;
    /* opacity: 1; */
  }
}


/* animation slide-in-left */

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

/* animation typing */

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}



body {
    background: hsla(203, 88%, 80%, 1);

background: linear-gradient(90deg, hsla(54, 100%, 80%, 1) 0%, hsla(69, 80%, 80%, 1) 25%, hsla(203, 88%, 80%, 1) 50%, hsla(250, 69%, 80%, 1) 75%, hsla(347, 92%, 80%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(54, 100%, 80%, 1) 0%, hsla(69, 80%, 80%, 1) 25%, hsla(203, 88%, 80%, 1) 50%, hsla(250, 69%, 80%, 1) 75%, hsla(347, 92%, 80%, 1) 100%);

/* background: -webkit-linear-gradient(90deg, hsla(54, 100%, 80%, 1) 0%, hsla(69, 80%, 80%, 1) 25%, hsla(203, 88%, 80%, 1) 50%, hsla(250, 69%, 80%, 1) 75%, hsla(347, 92%, 80%, 1) 100%); */
    font-family: 'Space Mono', monospace;
    /* height: 100vh;
    min-width: 100%; */
    margin: 0;
    /* overflow: hidden; */
    /* overflow-anchor: none; */
}

html{
    height: 100%;
    width: 100%;
}

/* .js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}; */







